<html>
  <h1>STATE YOUR NAMES CUZ</h1>
  <form enctype="multipart/form-data" method="post" action="/fight">
    <label for="name1">
      CUZIMODO1
    <input type="text" name="name1"><br></label>
    <label for="name1">
      CUZIMODO2
    <input type="text" name="name2"><br></label>
    <input type="submit" value="Submit">
  </form>
</html>
