<html>
  <h1>ENTER YOUR NAMES CUZ</h1>
  <form enctype="multipart/form-data">
    <h1> Cuzimodo1 <h1>
    <input type="text" name1="name1"><br>
    <h1> Cuzimodo2 <h1>
    <input type="text" name2="name2"><br>
    <input type="submit" value="submit">
  </form>
</html>
